<div class= "backdrop">
<nav class="navbar navbar-default">
  
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>
      <a class="navbar-brand" href="/">Git To The Reef</a>
    </div>
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
       
        <li><%= link_to  "Play Game", level_one_path %></li>
   

      <li><% if current_user %>
        <%= link_to  "User Rankings", users_path %>
        <% else %> 
        <% end %>
      </li>
        
        <li><% if current_user %>
          <%= link_to "#{current_user.name.split.first}", user_profile_path(current_user) %>
          <% else %> 
          <% end %>
        </li> 




        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden="true"> </span><span class="caret"></span>
          <ul class="dropdown-menu" role="menu">
            
            <li><% if current_user %>
            <%= link_to "Edit Account", edit_users_path(current_user) %>
          <% else %>
              
          <% end %></li>  


            <li>
                <% if current_user %>
              <%= link_to "Log out", destroy_session_path %>
          <% else %>
              <%= link_to "Login", new_session_path %>
          <% end %></li>

          <li><% if current_user %>
            
          <% else %>
               <li><%= link_to "Create New Account", new_user_path %></li>
          <% end %></li> 
           
          
          </ul>
        </li>
      </ul>
  </div>
   
  </nav>
<div class = "container">

<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited you're info from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for @user, url: update_user_path  do |f| %>

    <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control"%>
    </div>
    
    <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
    </div>
    
    <div class="form-group">
    <%= f.label :password, "New Password" %> 
    <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="form-group">
    <%= f.label :password_confirmation, "Confirm New Password" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    <br>
    <%= f.submit "Update Info", class: "submit-button-create" %>

<% end %>
<hr>
</div>