<div class= "backdrop">
<nav class="navbar navbar-default">
  
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>
      <a class="navbar-brand" href="/">Git To The Reef</a>
    </div>
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
       
        <li><%= link_to  "Play Game", level_one_video_path %></li>
   
        <li><% if current_user %>
          <%= link_to "#{current_user.name.split.first}", user_profile_path(current_user) %>
          <% else %> 
          <% end %>
        </li> 




        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden="true"> </span><span class="caret"></span>
          <ul class="dropdown-menu" role="menu">
         <!-- -->


            <li>
                <% if current_user %>
              <%= link_to "Log out", destroy_session_path %>
          <% else %>
              <%= link_to "Login", new_session_path %>
          <% end %></li>

          <li><% if current_user %>
            
          <% else %>
               <li><%= link_to "Create New Account", new_user_path %></li>
          <% end %></li> 
           
          
          </ul>
        </li>
      </ul>
  </div>
   
  </nav>
<div ng-app="scoresApp">
    <div ng-controller="ScoresController as scores" ng-init="scores.getScores()">
      <!--{{scores.jsonScores}}-->

<body>
      <ul>
<h2>TOP TEN SCORES</h2>
        <li
        class="list-unstyled"
        ng-repeat="score in scores.jsonScores | orderBy:'-total' | limitTo: 10"

        ng-controller="ScoresController"
        id="container">


            <span class="name">

             <h3>   {{ score.user.name}}:
                {{ score.total }}</h3>
            </span>

        </li>

      </ul>

</body>
    <!--<main>-->
      <!--&lt;!&ndash; begin show all todos &ndash;&gt;-->
      <!--<section class="score-list">-->
        <!--<ul>-->
          <!--<li ng-repeat="score in scores.jsonScores">-->
          <!--<input type="text" ng-model="score.user" ng-change="score.updateScore(score)">&ndash;&gt;-->
              <!--{{ score.name }}-->
              <!--{{ score.total }}-->
          <!--</li>-->
        <!--</ul>-->
      <!--</section>-->
      <!--&lt;!&ndash; end show all todos &ndash;&gt;-->
    <!--</main>-->

  <!--</div>-->

  </div>
</div>